// Specific CSS for your home-page

.homepage {
  background-color: transparent !important;
  }

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 90%;
  border: 1px solid lightgrey;
  box-shadow: none;
}
