.top-part {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.star-container {
  position: relative;
  align-items: flex-start ;
  justify-content: space-evenly;
}

.br-widget a {
  font-size: 15px !important;
  width: 15px !important;
}

.br-widget {
  height: 0px !important;
}

.directions, .rating {
  margin: 4px;
  padding: 10px;
  border-radius: 12px;
  background-color: $light-black;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.container_checkins {
  margin: 4px;
  padding: 10px;
  border-radius: 12px;
  background-color: $light-black;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.checkin {
  margin: 4px;
  padding: 10px;
  border-radius: 12px;
  background-color: $light-black !important;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  width: auto;
}

.court_text {
  margin: 4px;
  padding: 10px;
  border-radius: 12px;
  background-color: $light-black !important;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  width: auto;
}

a {
  text-decoration: none;
  color: $white;
  :hover {
    background-color: $grey;
    border-color: $light-sportious;
   }
}

.confirmation {
  margin: 4px;
  padding: 10px;
  border-radius: 12px;
  background-color: #1EDD88;
  color: $black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.players {
  color: #1EDD88;
  margin-bottom: 0px;
}

.form {
  width: 70%;
}

.alignonsameline {
  display: flex;
  justify-content: space-evenly;
}
