// Top Part (Image & Title)
.top-part {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  // position: sticky;
  // top: 0;
  // z-index: 100;
}

.star-container {
  position: relative;
  align-items: flex-start;
  justify-content: space-evenly;
}

.br-widget a {
  font-size: 15px !important;
  width: 15px !important;
}

.br-widget {
  height: 0px !important;
}

.directions, .rating, .lessons, .average-rating {
  margin: 4px;
  padding: 5px;
  border-radius: 6px;
  background-color: $light-black;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  width: 100%;
}

.container_checkins {
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
  background-color: $light-black;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.checkin {
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
  // background-color: $light-black !important;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  width: auto;
}

.court_text {
  margin: 11px;
  margin-left: 17px;
  padding: 12px;
  border-radius: 6px;
  background-color: $light-black !important;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  width: auto;
}

a {
  text-decoration: none;

  color: $white;
  :hover {
    background-color: $grey;
    border-color: $light-sportious;
   }
}

.confirmation {
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
  background-color: $sportious;
  color: $black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.players {
  color: $sportious;
  margin-bottom: 0px;
}

.players-info {
  color: #486005;
  font-weight: bold;
  margin: 0px;
}

.form {
  width: 70%;
}

.alignonsameline {
  display: flex;
  justify-content: space-evenly;
}

.show-content {
  // padding: 10px;
  // margin: 4px;
  background-color: black;
}

.titlebox {
  font-family: $headers-font;
  height: 48px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-indent: 20px;

}

.topshowpage {
  display: inline-block;
  justify-content: space-between;
  padding-bottom: 80px;
  align-items: center;
}

.hearticon {
    // position: relative;
    // display: inline;
    float: right;
    margin-top: 200px;
  }


// Zeitfelder

.form-group {
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0.8px 0px 0px $light-black;
  }
