<div class="container court">
  <div class="top-part" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @court.photo.attached? ? cl_image_path(@court.photo.key) : asset_path('/generic_image.jpeg')%>);">
    <h1><%= @court.address %></h1>
  </div>
  <div class="container content">
    <div class="directions"><i class="fas fa-location-arrow"></i> Get directions.</div>
    <div>
      <h2>About the Court</h2>
      <p><%= @court.description %></p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, itaque, error ratione reiciendis sapiente delectus veniam quisquam voluptates cupiditate sunt deserunt dolorem distinctio quidem accusamus inventore dignissimos, obcaecati nulla magni!</p>
      <button>Check-In</button>
    </div>
  </div>
</div>
