  <!-- container storing basic text -->
<div class="banner">
  <div class="banner-container">
    <div class="banner-text">
      <h1>Looking for an outdoor activity?</h1>
      <p>Find all the courts in your neighborhood</p>
    </div>
  </div>
  <!-- container storing search bar w/ different user inputs -->
<div class="container">
<div class="card-index">
  <div class="card">
    <label for="court" class="center">Where do you want to play?</p>
      <%= form_tag courts_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-group",
            placeholder: "Find a court"
          %>
  </div>
  <div class="card">
      <label class="container">Pick your poison</label>
      <label class="container">Basketball
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Beach Volleyball
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Ping Pong
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
  </div>
<div class="card-index">
        <div class="search-button">
          <%= submit_tag "Find your spots!", class: "btn btn-flat" %>
        </div>
    <% end %>
</div>
</div>
  <!-- search button that pushes to next action / tools overview page -->
</div>
