.banner {
  background-image: linear-gradient(rgba(5, 5, 5, 0.6), rgba(5, 5, 5, 0.6)),url("arena2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: auto;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 120px;
  padding-bottom: 30px;
  margin-left:  15px;
}

.banner-text {
  color: white;
}
