.btn-flat {
  color: $black;
  border-radius: 6px;
  background: $sportious;
  transition: background 0.3s ease;
  margin: 20px 10px 10px 0px;
  font-size: 16px;
  padding: 8px;
  font-weight: bold !important;
  border: none;
}

.btn-flat:hover {
  background: $dark-sportious;
  color: $white;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
