.card {
  border: none !important;
  background-color: transparent !important;
}

label {
  margin: 0 auto;
}

.home-tag {
  margin: 10 20;
}

.form-group {
  height: 28px !important;
}

.card-index {
  background-position: center;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  margin: 0 auto;
}
