.court-new-label {
  color: white;
  margin: 3px 18px !important;
  text-align: left !important;
}

.court-new-input {
  background-color: white;
  width: 90%;
  margin: 0 auto;
}

<<<<<<< HEAD
.lesson-new-label {
  color: white;
  display: block;
  p {
    margin-bottom: 0px;
  }
}

.lesson-new-input {
  background-color: white;
  margin: 0 0;
  width: 90%;
=======
.mapboxgl-ctrl-geocoder--input {
  background-color: lightgray;
>>>>>>> master
}
