// card style for detail on lesson

.card-lesson {
  color: $white;
  overflow: hidden;
  background: $grey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 6px;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.card-lesson h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.card-lesson p {
  font-size: 13px;
  line-height: 1.2;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
}

.card-lesson .card-lesson-infos {
  padding: 6px;
  width: 100%;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.lessons-style{
  color: white;
}

// any other styling for lessons
.addnewlesson {
  width: 120px;
  height: 40px;
  margin-right: 0px;
  margin-top: 2px;
  text-align: center;
  a {
    color: #212529 !important;
    font-weight: 400;
    text-shadow: none;
  }
}
