.container {
  height: 100vh;
  padding-top: 80px;

}
.card-lesson {
  color: white;
  overflow: hidden;
  height: 200px;
  background: $grey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.card-lesson h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-lesson p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-lesson .card-lesson-infos {
  padding: 16px;
}

.card-lesson p .details {
  display: flex;
  align-items: center;
}
