<div class="card-review">
  <div class="headline">
    <h2><%= review.title%><%= render "reviews/star_rating", rating: review.rating %></h2>
    <h6><%= review.content %></h6>
  </div>
  <p><i class="fas fa-user-friends"></i><%= review.user.username.capitalize %></p>
</div>
